@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h1 {
    font-family: var(--font-cormorant);
    font-size: 2.05rem;
    font-weight: 700;
    color: #111111;
  }
  .h2 {
    font-family: var(--font-cormorant);
    font-size: 1.75rem;
    font-weight: 500;
  }
  .p-base {
    font-size: 1rem;
  }
  .p-xl-2 {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: left;
    color: #111111;
  }
}
