@import "tailwindcss";
@config "../tailwind.config.ts";

@theme {
  /* DaisyUI Mella Theme Colors */
  --color-primary: #FFCB74;
  --color-primary-content: #111111;
  --color-secondary: #2F2F2F;
  --color-secondary-content: #F6F6F6;
  --color-accent: #FFCB74;
  --color-accent-content: #111111;
  --color-base-100: #fbfbfb;
  --color-base-200: #2F2F2F;
  --color-base-content: #111111;
}

@layer utilities {
  .h1 {
    font-family: var(--font-cormorant-garamond);
    font-size: 2.05rem;
    font-weight: 700;
    color: #111111;
  }

  .h2 {
    font-family: var(--font-cormorant-garamond);
    font-size: 1.75rem;
    font-weight: 500;
  }

  .p-base {
    font-size: 1rem;
  }

  .p-xl-2 {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: left;
    color: #111111;
  }
}

@layer components {
  .text-product-title {
    @apply text-3xl font-serif font-bold;
  }

  .text-product-body {
    @apply font-extralight text-sm;
  }

  .text-product-caption {
    @apply text-xs text-gray-400;
  }

  .btn-primary-text {
    @apply font-bold tracking-widest;
  }
}